In [1]:
from pathlib import Path
import pandas as pd

from rekall.predicates import _area, _iou, during_inv, overlaps
from stsearch.stdlib import tiou
from virat_helper import load_events, LIST_CLIP_ID, EVENTTYPE

In [2]:
# print(LIST_CLIP_ID)

In [8]:
def parse_event_list_of_clip(clip_id, event_type) -> pd.DataFrame:
    """
    Parse the VIRAT event annotation file of a single clip and filter by event_type.
    Then compress lines belonging to the same event instance into one record
    """
    try:
        df = load_events(clip_id)
    except FileNotFoundError:
        # some clips have no events and no event file
        return pd.DataFrame()
    
    df = df[df['event_type']==event_type]
    df['x2'] = df['x1'] + df['w']
    df['y2'] = df['y1'] + df['h']
    df['t1'], df['t2'] = df['start_frame'], df['end_frame']
    
    rv = []
    for event_id in df['event_id'].unique():
        edf = df[df['event_id']==event_id]
        rv.append({
            'event_id': event_id,
            'x1': edf['x1'].min(),
            'x2': edf['x2'].max(),
            'y1': edf['y1'].min(),
            'y2': edf['y2'].max(),
            't1': edf['t1'].min(),
            't2': edf['t2'].max(),
        })
        
    return  pd.DataFrame(rv)

def parse_event_list_all_clip(event_type) -> pd.DataFrame:
    """
    Parse the event list of event_type of all clips.
    """
    all_df = []
    for clip_id in LIST_CLIP_ID:
        df = parse_event_list_of_clip(clip_id, event_type)
        if not df.empty:
            df['clip_id'] = clip_id
            all_df.append(df)
        
    return pd.concat(all_df, ignore_index=True)
    

# gt = parse_event_list('VIRAT_S_000202_00_000000_000977', EVENTTYPE.GET_OUT_VEHICLE)

In [9]:
def parse_result(result_file):
    """
    Parse experiment result cvs file. Convert relative coords to pixel coords.
    """
    df = pd.read_csv(result_file, index_col=0)
    # convert relative coord to pixel coord
    df['x1'] = df['x1'] * df['width']
    df['x2'] = df['x2'] * df['width']
    df['y1'] = df['y1'] * df['height']
    df['y2'] = df['y2'] * df['height']
    return df

In [10]:
def is_hit(ipred, igt):
    return _iou(ipred, igt) > 0.0 and overlaps()(ipred, igt) #  tiou(i1, i2)>0.1

In [11]:
# compute precision, recall, result length
def eval_prediction(result_file, event_type):
    """
    Given a result file and event_type, evaluate metrics against GT annotation
    """
    GT = parse_event_list_all_clip(event_type)
    prediction = parse_result(result_file)
    
    GT['hit'] = False
    prediction['hit'] = False

    for i, pred in prediction.iterrows():
        for j, gt in GT[GT['clip_id']==pred['clip_id']].iterrows():
            if is_hit(pred, gt):
                prediction.loc[i, ['hit']] = True
                GT.loc[j, ['hit']] = True

    GT_hit = len(GT[GT['hit']==True])
    prediction_hit = len(prediction[prediction['hit']==True])
    video_hrs = sum((prediction['t2']-prediction['t1'])/prediction['fps'])/3600

    print(f"Precision={prediction_hit}/{len(prediction)}={prediction_hit/len(prediction):.2f}")
    print(f"Recall={GT_hit}/{len(GT)}={GT_hit/len(GT):.2f}")
    print(f"Video length={video_hrs:.2f} hrs")
    print(f"Productivity={GT_hit/video_hrs} /hr")

In [21]:
eval_prediction("getout_result.csv", EVENTTYPE.GET_OUT_VEHICLE)

Precision=44/511=0.09
Recall=44/97=0.45
Video length=0.60 hrs
Productivity=73.55012459564459 /hr

In [14]:
eval_prediction("person_and_car.csv", EVENTTYPE.GET_OUT_VEHICLE)

Precision=62/441=0.14
Recall=76/97=0.78
Video length=3.86 hrs
Productivity=19.663942551006155 /hr

In [37]:
# FPs
prediction[prediction['hit']==True][['clip_id', 't1','t2', 'result_size']].sort_values(by=['clip_id'])

                             clip_id     t1     t2  result_size
11                    VIRAT_S_000001   9602   9902      1369755
0                     VIRAT_S_000002   2342   2642      1204561
6                     VIRAT_S_000003  10262  10562       980611
14                    VIRAT_S_000004   6962   7262      1072663
16                    VIRAT_S_000004  10982  11282      3040647
..                               ...    ...    ...          ...
788  VIRAT_S_050202_00_000000_000105    842   1142      4155501
789  VIRAT_S_050202_00_000000_000105    992   1292       349688
893  VIRAT_S_050203_09_001960_002083    842   1142       833477
895  VIRAT_S_050203_09_001960_002083    902   1202      2881206
894  VIRAT_S_050203_09_001960_002083    842   1202      1103483

[113 rows x 4 columns]

In [38]:
prediction.sort_values(by=['clip_id'])

,clip_id,t1,t2,x1,x2,y1,y2,result_size,frame_count,fps,width,height,hit
12,VIRAT_S_000001,18272,18572,1528.152100,1838.406494,0.309917,101.103577,490592,20655,30,1920,1080,False
11,VIRAT_S_000001,9602,9902,857.502930,1176.180458,363.334473,637.222176,1369755,20655,30,1920,1080,True
0,VIRAT_S_000002,2342,2642,713.980808,1135.593418,475.714905,722.233894,1204561,9075,30,1920,1080,True
1,VIRAT_S_000002,3362,3662,713.980808,1094.813690,467.924774,722.233894,1168510,9075,30,1920,1080,False
2,VIRAT_S_000002,4022,4322,713.980808,1358.815935,271.311005,722.233894,3192702,9075,30,1920,1080,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1194,VIRAT_S_050301_03_000933_001046,1772,2072,687.907848,859.985962,415.453341,508.034866,343431,3347,30,1920,1080,False
1193,VIRAT_S_050301_03_000933_001046,1382,1682,1419.517822,1506.178150,189.631790,247.943326,133209,3347,30,1920,1080,False
1191,VIRAT_S_050301_03_000933_001046,92,392,1419.981422,1494.470329,186.552673,248.320246,98175,3347,30,1920,1080,False
1195,VIRAT_S_050301_03_000933_001046,2312,2612,1031.993652,1104.533203,97.171082,224.154243,235598,3347,30,1920,1080,False
1192,VIRAT_S_050301_03_000933_001046,362,662,1419.517822,1506.983170,188.135254,251.302151,147807,3347,30,1920,1080,False

In [72]:
68.7/11.2

6.133928571428572

## Eval "Person-Carry-Object"

In [75]:
eval_prediction("carrybag.csv", EVENTTYPE.CARRY_OBJECT)

Precision=278/387=0.72
Recall=556/822=0.68
Video length=0.97 hrs
Productivity=573.2369155867416 /hr

In [77]:
eval_prediction("person_only.csv", EVENTTYPE.CARRY_OBJECT)

Precision=253/462=0.55
Recall=809/822=0.98
Video length=4.08 hrs
Productivity=198.18491542685965 /hr